package scripts;
import static org.junit.Assert.*;

import org.junit.After;
import org.junit.Before;
import org.junit.Test;
import org.openqa.selenium.By;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.WebElement;
import org.openqa.selenium.firefox.FirefoxDriver;
import org.openqa.selenium.support.ui.ExpectedConditions;
import org.openqa.selenium.support.ui.WebDriverWait;


public class DemoTest {
	
	WebDriver driver;
	
	Demo1 rtl=new Demo1();
	
	
	@Before
	public void setUp()
	{
		rtl.get();
	}
	
	@After
	public void tearDown()
	{
	
	}
		
	
	@Test
	public void testP1() {
		rtl.signin("demo","demo");
		
	}
	

	@Test
	public void testP2() {
		rtl.signin("rtCamp","rtCamp");
		
	}
		
						
	}
